body {
	margin: 0;
}

html {
	font-family: "Roboto", sans-serif;
}

img {
	object-fit: contain;
}

.slider-slide img {
	object-fit: cover;
}

.paging-item button {
	padding: 0.5rem;
}

button:focus {
	outline: 0;
}