$header-height: 56px;
$bottom-bar-height: 56px;

// Colours
$primary-blue: #00aced;
$black: #222222;
$light-black: #4a4a4a;
$grey1: #c1c1c1;
$grey: #666666;
$light-grey: #99999c;
$bg-grey: #f0f1f2;
$bg-grey1: #e6e6e9;
$bg-grey2: #f5f8fa;
$dark-green: #00c673;
$light-green: #cff9e7;
$border-grey: #dde5ed;
$black: #000000;
$bg-grey3: #efefef;
$error-red: #fd5c5c;
$white: #ffffff;
$green1: #09b36d;
$blue5: #012b72;
$red1: #e64545;
$blue1: #506d85;
$red2: #ff585d;
$light-blue: #8ba6c1;